# This is Git's per-user configuration file.
[core]
	user = name
    email = <email>
	editor = /usr/bin/vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = vim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
